In [1]:
import glob
import pandas as pd
import numpy as np
import os
import csv
import sys

year='2021'

In [25]:
# Open the file with the persons highest degree (output from spenser_notebook_13)
df_degree_dir = '/home/geompr/Documents/Leeds/RAIM/code/RAIM/data/westmidlands/synthetic_pop_SPENSER/'+year+'/NE_only/' # use your path
df_degree_file = os.path.join(df_degree_dir, "df_persons_NE_sociodemographics_hdegree.csv")
df_degree = pd.read_csv(df_degree_file, index_col=None, header=0)

/tmp/ipykernel_56705/845806914.py:4: DtypeWarning: Columns (26,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_degree = pd.read_csv(df_degree_file, index_col=None, header=0)

In [26]:
df_degree['Highest degree'] = df_degree['Highest degree'].fillna(0)
df_degree

,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,level_0,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,index,...,Total_People_in_household,Total_Children_in_household,Same_ethnic,Adult_Similar_age,Marital_status,Children_dependency,Economic_activity,Occupation,Income,Highest degree
0,2325002,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,2.0,1.0,True,False,Single,False,Inactive,Child student,0.000000,0.0
1,2325003,1,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,...,2.0,1.0,True,False,Single,False,Inactive,Child student,0.000000,0.0
2,2325004,3,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,...,2.0,1.0,True,False,Single,False,Inactive,Child student,0.000000,0.0
3,2325005,4,NaN,NaN,NaN,NaN,NaN,8.0,8.0,8.0,...,3.0,2.0,True,False,Single,False,Inactive,Child student,0.000000,0.0
4,2325006,6,NaN,NaN,NaN,NaN,NaN,12.0,12.0,12.0,...,3.0,1.0,False,False,Single,False,Inactive,Child student,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920746,71961,46873,NaN,NaN,493185.0,NaN,249138.0,63167.0,2225163.0,35089.0,...,2.0,0.0,True,True,Married,False,Inactive,Retired,18037.368160,2.0
2920747,71962,123212,NaN,NaN,695266.0,NaN,695266.0,78508.0,779911.0,45646.0,...,2.0,0.0,True,True,Married,False,Inactive,Retired,17775.730859,2.0
2920748,71963,46857,NaN,NaN,493163.0,NaN,249116.0,63145.0,934151.0,199886.0,...,2.0,0.0,True,True,Married,False,Inactive,Retired,18698.538894,2.0
2920749,71964,11958,17437.0,248991.0,248991.0,71914.0,71914.0,6573.0,2053381.0,104040.0,...,3.0,1.0,True,True,Married,True,Employed,1.0,26360.000000,2.0
2920750,71965,1139459,27637.0,248990.0,248990.0,71913.0,71913.0,6571.0,2306127.0,116053.0,...,3.0,1.0,True,True,Married,True,Employed,1.0,56590.000000,2.0

In [ ]:
# Open the file with the persons health status (output from spenser_notebook_14)
df_health_dir = '/home/manon/Documents/Leeds/RAIM/code/RAIM/data/westmidlands/synthetic_pop_SPENSER/'+year+'/NE_only/' # use your path
df_health_file = os.path.join(df_health_dir, "df_persons_NE_sociodemographics_health.csv")
df_health = pd.read_csv(df_health_file, index_col=None, header=0)

In [ ]:
df_health

In [ ]:
# Open the file with the persons sociodemographics and mobility (output from spenser_notebook_12)
df_sociomob_dir = '/home/manon/Documents/Leeds/RAIM/code/RAIM/data/westmidlands/synthetic_pop_SPENSER/'+year+'/NE_only/' # use your path
df_sociomob_file = os.path.join(df_sociomob_dir, "df_persons_NE_sociodemographics_mobility_clean_correct.csv")
df_sociomob = pd.read_csv(df_sociomob_file, index_col=None, header=0)

In [ ]:
df_sociomob

In [ ]:
#Join df_degree with df_health "Health_status" column
df_persons_NE_health_degree = df_degree.merge(df_health[['PID_AreaMSOA','Health_status']], on=['PID_AreaMSOA'], how='left')

In [ ]:
df_persons_NE_health_degree

In [ ]:
#Join df_persons_NE_health_degree with df_sociomob 
df_persons_NE_all = df_sociomob.merge(df_persons_NE_health_degree[['PID_AreaMSOA','Health_status','Highest degree']], on=['PID_AreaMSOA'], how='left')

In [ ]:
df_persons_NE_all

In [ ]:
#Get only these columns
df_persons_NE_clean = df_persons_NE_all[['PID', 
              'PID_AreaMSOA', 'HID', 'HID_AreaOA', 'Area_MSOA', 'Area_OA', 'HRPID_AreaMSOA',
              'Sex', 'Age', 'Ethnic', 'Marital_status', 'Children_dependency', 'Adult_Similar_age',
              'Total_People_in_household', 'Total_Children_in_household', 'Same_ethnic',
              'Economic_activity', 'Occupation', 'Income', 'Driving_license', 'Car_access', 'Bike_access',
              'LC4202_C_CARSNO', 'LC4202_C_ETHHUK11', 'LC4404_C_SIZHUK11', 'LC4408_C_AHTHUK11',
              'QS420_CELL_x', 'Highest degree', 'Health_status']]
#Rename the column names of 'df_persons_NE'
df_persons_NE_clean = df_persons_NE_clean.rename({'QS420_CELL_x': 'QS420_CELL',
                                                 'Highest degree': 'Highest_degree'}, axis=1)

In [ ]:
# Check if there are duplicates:
df_persons_NE_clean_1 = df_persons_NE_clean

# Remove duplicates
df_persons_NE_clean_1 = df_persons_NE_clean_1.drop_duplicates(subset='PID_AreaMSOA',keep = False)

len(df_persons_NE_clean_1)

In [ ]:
# Save dataframe
df_persons_NE_clean_1.to_csv('/home/manon/Documents/Leeds/RAIM/code/RAIM/data/westmidlands/synthetic_pop_SPENSER/'+year+'/NE_only/df_persons_NE_all.csv', encoding='utf-8', header=True)